@use '../../global' as *;

.zoom_image {
  overflow: hidden;
  margin: 0 auto;
  pointer-events: all;
  cursor: zoom-in;
  width: 90svw;
  height: 90vh;
  position: relative;
  @include md {
    width: 45vw;
    height: 45vh;

  }
  @include lg {
    width: 50vw;
    height: 45vh;

  }
  &.zoom_mode_active {
    cursor: zoom-out;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: transform 200ms ease-out;
  }
}

