@use '../global' as *;

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.blogImg {
  overflow: hidden;

  //@include xs {
  //  //height: 100%;
  //  margin-top: -8em;
  //}
  //@include md {
  //  //height: 100%;
  //  margin-top: -20em;
  //}
  //@include xl {
  //  margin-top: -40em;
  //}
}


// Ensure your title is styled correctly
.title {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size .5s cubic-bezier(0.11, 0.61, 0, 0.99), box-shadow .5s cubic-bezier(0.11, 0.61, 0, 0.99), border .5s cubic-bezier(0.11, 0.61, 0, 0.99), line-height 2s cubic-bezier(0.11, 0.61, 0, 0.99);
  --bg-h: 100%;
  position: relative;
  width: fit-content;
  z-index: 2; // Higher z-index than shapes
  margin-bottom: 1em;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  color: #131313;
  text-decoration: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0);


}

.articleWrapper {
  height: auto;
  margin-top: 2rem;
  @include md {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

  }
}

.article {
  background-position: center center;
  background-size: 100% 100%;
  transition: background-size .5s cubic-bezier(0.11, 0.61, 0, 0.99);
  width: 30vw;

  @include xs {
    width: 15em;
  }
  @include md {
    height: 30em;
    width: 20em;

  }
  @include xl {

  }
  z-index: 100;

  &:hover,
  &:focus-visible {
    background-size: 110% 110%;

    .title {
      background-size: 100% var(--bg-h);

      background-position-x: left;
      line-height: 1em;
    }

  }
}

.blogs {
  width: 90vw;
  margin-left: 5em;
  margin-right: 5em;
  justify-items: center;
  display: flex;
  height: auto;
  @include xs {
    padding: 0;
    display: flex;
    margin-top: 22rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  @include xl {
    padding: 6em;
    width: 100vw;
    margin-top: 5rem;
    display: grid;
    gap: 10em;

  }
  @include md {
    margin-top: 23rem;


  }

}

.fbi {
  position: relative;
  z-index: 100;
  top: 30vh;
  right: 25vw;
  @include xs {
    width: 70vw;
    margin-top: 5em;
    margin-left: 8em;
    top: 35vh;

  }
  @include sm {
    margin-top: 4em;
  }
  @include md {
    margin-top: 4em;
    top: 30vh;
    width: 20em;
  }
  @include xl {
    margin-left: 5em;
    top: 40vh;

    width: 35vw;
  }

}