@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


.title{
  font-family: "Inknut Antiqua", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}
.subHeading{
  margin-top: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}
