@use 'global' as *;

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.homeimg {
  z-index: 0;

  width: -moz-available;
  width: -webkit-fill-available;
  border-radius: 5rem;
  width: 100vw;
  position: relative;
  top: -11.2rem;
  max-width: 120%;
  overflow: hidden;

  video {
    width: clamp(100%, 90vw + 1rem, 120%);
    @include sm {
      width: 200vw;

    }

  }
}

.video-container {
  position: relative;
  max-width: 100vw;
  height: auto;
  overflow: hidden;
}

.video-element {
  width: auto;
  height: auto;
  object-fit: cover;
}

.home {
  position: relative;

  height: 50vw;

  .text {

    font-family: "Inknut Antiqua", serif;
    color: white;
    text-align: center;
    z-index: 2;
    font-size: clamp(3rem, 8vw + 1rem, 10rem);
    top: -5em;
    position: relative;

    h1 {

    }
  }
}

.main {
  background-color: #012a4a;
}

.maincontent {

  .bully {
    font-family: "Inknut Antiqua", serif;
    text-align: center;
    font-size: 10vw;
    color: white;
    @include lg {
      font-size: 5vw;
    }
  }

  .blog {
    width: 80vw;
    height: 15rem;
    overflow: hidden;
    display: flex;

    .img {
      max-height: 30vh;
      position: relative;
      width: 10rem;
      height: 13rem;
    }

    @include lg {
      width: 30vw;
      flex-direction: row;
    }
  }

  .bulletin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include lg {
      flex-direction: row;
      flex-wrap: wrap;

    }
  }

}
