.navLink{
  background: linear-gradient(#2e4057 0 0)
  bottom left/
    var(--underline-width, 0%) 0.2em
  no-repeat;

  display: inline-block;
  text-decoration: none  ;

  transition: background-size 0.5s;
}

a:hover {
  --underline-width: 100%;
}
.blogs{
  margin-top: 25em;
  padding-top: 5em;
}
/* app/components/NavBar/nav.scss */

.drop-shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.03);
}

.nav-menu {
  display: none; /* Hide by default */
}

.nav-menu.active {
  display: block; /* Show when active */
}

@media (min-width: 1024px) {
  .nav-menu {
    display: flex; /* Always show on larger screens */
  }
}