.navLink{
  background: linear-gradient(currentColor 0 0)
  bottom left/
    var(--underline-width, 0%) 0.1em
  no-repeat;

  display: inline-block;
  text-decoration: none  ;
  transition: background-size 0.5s;
}

a:hover {
  --underline-width: 100%;
}
.blogs{
  margin-top: 25em;
  padding-top: 5em;
}
