@import "../global";

.products {
  background-color: #2e4057;
  padding-top: 15em;
  background-image: url("placeholder.jpg");
  background-size: cover;


  .glass {
    min-height: 20em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .topbar {

    border-radius: 10px;
    margin-bottom: 1em;
  }

  hr {
    border-color: #2e4057;
  }

  .product {
    max-width: 45vw;
    max-height: 100vw;

  }

  .productcontainers {
    justify-content: center;

    @include md {
      justify-content: inherit;
    }
  }
}
