@use '../../global' as *;

.products {

  min-height: 50vw;
  height: 100%;
  padding-bottom: 3em;

}
.blogCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 5em;

  .info{
    display: flex;
    flex-direction: column;
    width: 100%;

  h1{
    color: #1f2d3a;
  }
  h2{
    margin-top: .5rem;
    color: #515155;
  }
  }
}

.innerHTML{
  color: #252525;
  font-family: "Times New Roman", Times, serif;

  h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }

  h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }

  h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
  }

  h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
  }

  p {
    text-align: justify;
    hyphens: auto;

    font-size: 1.1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32) 0;
  }
  @supports (font-size-adjust: 1) {

    font-size-adjust: 0.5;
  }
}
