@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.products {

  min-height: 50vw;
  height: 100%;
  padding-bottom: 3em;

}

.category {
  width: fit-content;
  padding: .2em;
}

